<% provide(:title, 'Users') %>

<h1>All Users</h1>

<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <% @users.each do |u| %>
        <tr>
          <td><%= u.name %></td>
          <td><%= u.email %></td>
        </tr>
    <% end %>
  </table>
</div>